{
    "name": "Backend",
    "alias": "backend",
    "description": "",
    "keywords": [],
    "order": 1,
    "providers": [
        "Modules\\Backend\\Providers\\BackendServiceProvider"
    ],
    "aliases": {},
    "files": [],
    "requires": []
}
